---
Language: Cpp

# **************************************************************************** #
#                                                                              #
#   Indentation                                                                #
#                                                                              #
# **************************************************************************** #

AccessModifierOffset: 0
IndentAccessModifiers: true
IndentWidth: 4
TabWidth: 4
UseTab: Always

# **************************************************************************** #
#                                                                              #
#   Alignement                                                                 #
#                                                                              #
# **************************************************************************** #

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
  PadOperators: true

AlignEscapedNewlines: Left
AlignOperands: Align

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

# **************************************************************************** #
#                                                                              #
#   Settings                                                                   #
#                                                                              #
# **************************************************************************** #

AllowAllArgumentsOnNextLine: true
BinPackArguments: true
BinPackParameters: true

ColumnLimit: 120

BreakBeforeBraces: Allman
